@charset "utf-8";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

body {
	background-image:url(download.jpg);
	background-attachment: fixed;
	background: no repeat;
	color: #606468;
	font: 87.5%/1.5em 'Open Sans', sans-serif;
	margin: 0;
	background-attachment: fixed;
	background: no repeat;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

after {
	clear: both;
}

#login {
	margin: 50px auto;
	width: 320px;
}

#login form {
	margin: auto;
	padding: 22px 22px 22px 22px;
	width: 100%;
	border-radius: 5px;
	background: #282e33;
	border-top: 3px solid #434a52;
	border-bottom: 3px solid #434a52;
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	border-right: 3px solid #434a52;
	color: #606468;
	display: block;
	float: left;
	line-height: 50px;
	text-align: center;
	width: 50px;
	height: 50px;
}

#login form input[type="text"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #a9a9a9;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 235px;
	height: 50px;
}

#login form input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #a9a9a9;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 235px;
	height: 50px;
}

#login form input[type="submit"] {
	background: #b5cd60;
	border: 0;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
	background: #16aa56;
}

.form {
	background: white;
	width: 470px;
	margin: 0 auto;
	padding-left: 50px;
	padding-top: 20px;
	color: white;
	text-align: center;
	font-family: "Arial black", Gadget, sans-serif;
}

.form .select-style {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(images/select-arrow.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 0px solid #FFF;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}

.contact {
	color: orange;
	font-size: 15px;
}

.container1 {
	background:#373636;
	text-color: black;
	font-family: color : white;
	text-align: center;
	
	padding-bottom:30px;
	font-family: "Arial black", Gadget, sans-serif;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: 10px;
}
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px; 
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    .logo-img{
    float: right;
    position: relative;
    margin: 10px 15px 15px 10px;
}
-------------------------------------------------------------------
